<head>
  <script src="https://unpkg.com/htmx.org@1.5.0"></script>
</head>

<h1>Book Recommendations</h1>
<form hx-post="/submit" hx-swap="beforeend" hx-target="#new-book" class="mb-3">
  <input type="text" placeholder="Book Title" name="title" class="form-control mb-3" />
  <input type="text" placeholder="Book Author" name="author" class="form-control mb-3" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Book Title</th>
      <th scope="col">Book Author</th>
    </tr>
  </thead>
  <tbody id="new-book" hx-target="closest tr" hx-swap="outerHTML swap:0.5s">
    {% for book in books %}
    {% with book=book %}{% include "book.j2.html" %}{% endwith %}
    {% endfor %}
  </tbody>
</table>
